@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --mainColor: #1f2e57;
    --secondary-color: #e2e2e2;
}

a:-webkit-any-link {
    color: var(--mainColor);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}
body {
    display: -webkit-box;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    font-family: "Cairo", sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
    /* margin: 0 auto; */
}

body.ltr {
    direction: ltr;
    text-align: left;
}

img:not(.nav-logo img) {
    width: 100%;
    height: auto;
    mix-blend-mode: darken;
}

h2 {
    font-size: 4.5rem;
}
h3 {
    font-size: 2.5rem;
}
h4,
span,
label,
.toastify {
    font-size: 1.5rem;
}

.error {
    color: red;
}

.is-invalid {
    border-color: red;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.p-20 {
    padding: 20px;
}

.p-50-100 {
    padding: 50px 100px;
}

.m-10 {
    margin: 10px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-20 {
    margin-top: 20px;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-white {
    background-color: white;
}

.rounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.rounded-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.d-grid {
    display: grid;
    /* grid-auto-rows: auto; */
}

.grid-template-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-template-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-column-full {
    grid-column: 1/-1;
}

.grid-gap-20 {
    grid-gap: 20px;
}

.position-fixed {
    position: fixed;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-50 {
    gap: 50px;
}

.flex-column {
    flex-direction: column;
}

.float-start {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

body.ltr .float-start {
    float: left;
}

.transition-duration-500 {
    transition-duration: 500ms;
}

.container {
    padding: 0 80px;
}

.section {
    padding: 50px 80px;
}

.section h2 {
    margin-bottom: 25px !important;
}

p {
    font-size: 1.5rem;
    font-weight: 700;
}

.content {
    width: 100vw;
}

/* navbar start */

.header {
    height: 50px;
    left: 0px;
    right: 0px;
    top: 0;
    z-index: 99;
    padding: 10px 80px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.272);
}

.nav-logo img {
    width: auto;
}

.nav-logo img:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.272);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.nav-link {
    font-size: 1.5rem;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nav-link:hover,
.nav-link.active {
    background-color: var(--mainColor);
    color: #fff;
}
/* nav end */

/* form start */
textarea,
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition-duration: 500ms;
}
textarea:focus,
input:focus {
    outline: none;
    border: 1px solid var(--mainColor);
    box-shadow: 0px 0px 10px 2px var(--mainColor);
}
input:focus-visible {
}
/* form end */

/* table start */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.4rem;
}
td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:hover {
    background-color: #ddd;
}

table tr td img,
.form-group img {
    max-width: 100px;
}

/* actions button start */
.btn {
    padding: 6px;
    font-size: 1.4rem;
    border-radius: 10px;
    /* background-color: dimgray; */
    color: white;
    border: none;
    transition-duration: 500ms;
    cursor: pointer;
    opacity: 0.7;
}
.btn:hover {
    opacity: 1;
}

.btn-info {
    background-color: blue;
}
.btn-danger {
    background-color: red;
}
/* actions button end */

/* .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
} */
ul {
    list-style-type: none;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.page-item.active .page-link,
.page-item:hover .page-link {
    z-index: 3;
    color: #fff !important  ;
    background-color: #00acd6 !important;
    border-color: #00acd6 !important;
    border-radius: 50%;
    padding: 6px 12px;
    transition-duration: 500ms;
}
.page-link {
    z-index: 3;
    color: #00acd6 !important;
    background-color: #fff;
    border-color: #007bff;
    border-radius: 50%;
    padding: 6px 12px !important;
}
.page-item:first-child .page-link {
    border-radius: 30% !important;
}
.page-item:last-child .page-link {
    border-radius: 30% !important;
}
.pagination li {
    padding: 3px;
}
.disabled .page-link {
    color: #212529 !important;
    opacity: 0.5 !important;
}
/* table end */

/* whatsapp icon start */
.whatsapp-icon {
    position: fixed;
    bottom: 0;
    margin: 20px;
}

.lang-btn {
    background-color: transparent;
    border: none;
}
.lang-btn svg {
    background-color: #4352b8 !important;
    margin-bottom: 10px;
}

.whatsapp-icon svg {
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: #25d366;
    fill: #fff;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.whatsapp-icon svg:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* whatsapp icon end */

.save button {
    padding: 13px;
    font-size: 1.7rem;
    border-radius: 10px;
    background-color: dimgray;
    color: white;
    border: none;
    transition-duration: 500ms;
    cursor: pointer;
}

.save button:hover {
    background-color: var(--mainColor);
}

@media only screen and (max-width: 868px) {
    .menu-box {
        display: block;
        width: 30px;
        height: 30px;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: black;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
        -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .menu-button::before {
        content: "";
        position: absolute;
        margin-top: -8px;
    }

    .menu-button::after {
        content: "";
        position: absolute;
        margin-top: 8px;
    }
    .menu-box.active .menu-icon .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
    }

    .menu-box.active .menu-icon .menu-button {
        background: transparent;
    }
    .menu-box.active .menu-icon .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
        -moz-transform: rotate(-405deg);
        -ms-transform: rotate(-405deg);
        -o-transform: rotate(-405deg);
    }

    .nav-content {
        /*margin-bottom: 5px;
        */
        order: 1;
        position: absolute;
        background-color: whitesmoke;
        padding: 0;
        margin: 0;
        right: 0;
        left: 0;
        top: 80px;
        max-height: 0;
        overflow: hidden;
        transition-duration: 500ms;
        margin-top: -12px;
    }

    .nav-content.active {
        max-height: calc(100vh - 80px);
        overflow-x: auto;
        padding: 15px 0;
    }

    .nav-content .nav-link:hover {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@media only screen and (max-width: 768px) {
    .md-p-20 {
        padding: 20px;
    }
    .md-flex-column {
        flex-direction: column;
    }

    .sm-grid-template-1 {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 0 10px;
    }

    .header {
        height: 80px;
    }

    .nav-content {
        margin-top: -1px;
    }
}

@media only screen and (max-width: 375px) {
    .nav-link {
        font-size: 1.08rem;
    }
}
